spring:
  application:
    name: loja-online-pedido-be

  datasource:
    url: jdbc:postgresql://localhost:5432/loja
    username: postgres
    password: 123456
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10

  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

logging:
  level:
    root: INFO
    com.actdigital.lojaonlinepedidobe: DEBUG
    org.springframework.amqp: INFO
